@media (max-width: 480px) {
	* {
		font-size: 0.95rem;
	}
  img {
    width: 80%
  }
	h1 {
		font-size: 1.6rem;
	}
	fieldset {
		padding: 0.9rem;
		margin: 0.3rem;
	}
	main {
    flex-direction: column;
    max-width: max-content;
    margin: auto;
	}
}
