@media (max-width: 480px) {
  img {
    width: 85%
  }
	* {
		font-size: 0.98rem;
	}
	fieldset {
		padding: 1rem;
	}
	main {
    flex-direction: column;
    max-width: max-content;
    margin: auto;
	}
}
