@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);
:root {
	font-size: 17px;
	--background: #261b17;
	--shadow: #1b110e;
	--accent: #e86420;
	--foreground: #e4cbb3;
}
::-webkit-scrollbar {
	display: none !important;
	width: 0px;
}
* {
	font-family: 'Fira Code', monospace;
	font-weight: 300;
	background-color: var(--background);
	color: var(--foreground, #e4cbb3);
	text-transform: lowercase; /* make everything aesthethically lowercase */
	text-decoration: none;
}
a:hover {
	color: var(--accent, #e86420)
}
/* "Lantern" in kanji become aesthethiccer */
h1 {
	font-weight: 600;
	font-size: 1.8rem;
	text-shadow: 3px 3px 5px var(--accent, #e86420);
	margin: -0rem 0rem 1rem 0rem;
}
img {
	margin: 0rem 0rem 1rem 0rem;
	filter: sepia(22%); /* make image more aestheticc */
	max-width: 100%;
}
/* Links boxes wrapper */
main {
	display: flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
/* Link Box */
fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0.5rem;
	padding: 1.35rem;
	border: 1px solid var(--foreground, #e4cbb3);
	box-shadow: 8px 8px 7px 2px var(--shadow, #1b110e);
}
/* Mini Heading in border */
legend {
	font-weight: 600;
	margin: auto;
}
/* Remove bullet points */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
