@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);
:root {
	--background: #261b17;
	--header: #1b110e;
	--onclick: #e86420;
	--text: #e4cbb3;
}
::-webkit-scrollbar {
	display: none !important;
	width: 0px;
}
*, a, body {
	font-family: 'Fira Code', monospace;
	font-weight: 300;
	background-color: var(--background);
	color: var(--text);
	text-transform: lowercase; /* make everythign aesthethically lowercase */
	text-decoration: none;
}
a:hover {
	color: var(--onclick)
}
/* "Lantern" in kanji become aesthethiccer */
p {
	text-align: center;
	font-weight: 600;
	font-size: 1.8em;
	text-shadow: 3px 3px 5px var(--onclick);
	margin: -0em 0em 1em 0em;
}
img {
	margin: -1em 0em 1em 0em;
	filter: sepia(22%); /* make image more aestheticc */
	max-width: 100%;
}
/* Links boxes wrapper */
div:last-child {
	display: flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap: wrap;
}
/* Link Box */
div:last-child > fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0.5em;
	padding: 1.35em;
	border: 1px solid var(--text);
	box-shadow: 8px 8px 7px 2px var(--header);
}
/* Mini Heading in border */
div:last-child > fieldset legend {
	text-align: center;
	margin-bottom: -0.5em;
	font-weight: 600;
}
/* Remove bullet points */
div:last-child > fieldset > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
@media (min-width: 320px) {
  img {
    width: 90%
  }
	* {
		font-size: 0.97em;
	}
}
